# 環境の設定

In [6]:
# data hundling
import pandas as pd
import numpy as np
from scipy.sparse import vstack, csc_matrix
import logging
import time
# sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import auc,roc_curve, precision_recall_curve, average_precision_score, roc_auc_score
from sklearn.neighbors import LocalOutlierFactor

# pytorch
import torch
import torch.nn as nn
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from torch.optim import RMSprop
# from torchsummaryX import summary
# 
from tqdm.notebook import tqdm

In [2]:
!git clone https://github.com/GuansongPang/deviation-network.git

Cloning into 'deviation-network'...
remote: Enumerating objects: 47, done.
remote: Counting objects: 100% (47/47), done.
remote: Compressing objects: 100% (44/44), done.
remote: Total 47 (delta 18), reused 2 (delta 0), pack-reused 0
Unpacking objects: 100% (47/47), done.

# データの読み込み

In [3]:
DATA_PATH = "/content/deviation-network/dataset/annthyroid_21feat_normalised.csv"

NAME = "annthyroid"
SEED = 0
MAX_INT = np.iinfo(np.int32).max
NETWORK_DEPTH = 2
RUNS = 10
CONT_RATE = 0.02
KNOWN_OUTLIERS = 30
EPOCHS = 50
BATCH_SIZE = 512

In [4]:
train_df = pd.read_csv(DATA_PATH)
train_df.head()

      Dim_0  Dim_1=0  Dim_2=0  Dim_3=0  ...    Dim_18    Dim_19    Dim_20  class
0  0.750000        1        0        1  ...  0.197324  0.300926  0.225000      0
1  0.239583        1        1        1  ...  0.235786  0.537037  0.165625      0
2  0.479167        1        1        1  ...  0.167224  0.527778  0.118750      0
3  0.656250        0        1        1  ...  0.125418  0.337963  0.129688      0
4  0.229167        1        1        1  ...  0.229097  0.337963  0.235938      0

[5 rows x 22 columns]

In [24]:
lof = LocalOutlierFactor(n_neighbors=1, contamination=0.2)

In [25]:
train_df["label"] = lof.fit_predict(train_df.drop("class", axis=1))

In [26]:
pd.crosstab(train_df["class"], train_df["label"])

label    -1     1
class
0      1315  5351
1       125   409